*
!PKGBUILD
!.SRCINFO
!.gitignore
!.nvchecker.toml
!LICENSE
!LICENSES
!LICENSES/**
!REUSE.toml
!README.md
!lokinet.ini
!lokinet.service
!lokinet-vpn@.service
!lokinet-resume.service
!lokinet.sysusers
!lokinet.tmpfiles
!lokinet.rules
!lokinet.install
!cpr-cstdint.patch
